*.iml
.gradle/
.kotlin/
.idea/
local.properties
secrets.properties
.env
.env.*
**/build/
work/
outputs/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore
keystore.properties
*.pem
*.p12
